*.obj
*.o
*.lib
*.dll
*.exe
*.pdb
*.ilk
*.idb
*.log
*.suo
*.user
*.userosscache
*.sln.docstates
Debug/
Release/
.vscode/
.vs/
*.VC.db
*.VC.VC.opendb
*.cache
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ncb
*.sdf
*.opensdf
*.ipch
*.aps
*.res
*.bak
*.tmp
Thumbs.db
